html{
    box-sizing: border-box;
    font-weight: 700;
    color: black;
}

body{
    background: linear-gradient(to right, orange, black);
    margin: 20px;
}

.wrapper{
    display: grid;
    gap: 20px;
}

.top{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "party party cta1"
    "party party cta2"
}

.party{
    grid-area: party;
    min-height: 450px;
    background-image: url(../img/pngtree-horror-halloween-silhouette-illustration-background-design-redillustration-backgroundhalloweenfestivalbatwastelandmoonspider-webadvertising-image_66103.jpg);
    background-size: cover;
    background-position: right;
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
    padding-top: 100px;
    padding-left: 2px;
    text-align: center;
}

.price{
    font-size: 2.5rem;
    font-weight: 300;
}

.cta p{
    margin: 0;
}

.cta{
    background: rgb(255, 204, 95);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta1{
    grid-area: cta1;
}

.cta2{
    grid-area: cta2;
}

button{
    background: rgb(255, 204, 95);
    border: 0;
    padding: 20px;
}

.menu ul{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a{
    background: rgb(255, 204, 95);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

[aria-controls="menu-list"]{
    display: none;
}